* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}


/* FONTS */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
      url('../fonts/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Italic.woff2') format('woff2'),
      url('../fonts/Poppins-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
      url('../fonts/Poppins-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}




/* CUSTOM PROPS */

:root {
  --grey:#716f6f;
  --dark:#151515;
  --purple:#854dff;
  --light-grey:#f0f0f0;
  --line:#dcdcdc;
  --red:#ff5959;
}


/* GLOBAL */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing:inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--light-grey);
  color: var(--dark);
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

img {
  max-width: 100%;
  height: auto;
}


/* AUTOFILL-STYLES */
/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--heading-color);
  -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
} */

/* PLACEHOLDER STYLE */
/*
::placeholder {
  color: rgba(52, 49, 61, 0.5);
} */


.age {
  position: relative;
  background-color: #fff;
  padding: 3.5rem;
  border-radius: 1.5rem 1.5rem 12.5rem 1.5rem;
}

.age__icon {
  position: absolute;
  right: 3.5rem;
  top: 9.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: var(--purple);
  transition: background-color 0.5s ease;
}

.age__icon:hover {
  background-color: var(--dark);
  cursor: pointer;
}

.age__img {
  width: 2.75rem;
  height: 2.75rem;
  display: block;
}

.form {
  display: flex;
  align-items: center;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--line);
}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__group:not(:last-child) {
  margin-right: 2rem;
}

.form__label {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--grey);
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.form__label--err {
  color: var(--red);
}

.form__input {
  width: 10rem;
  border-radius: 0.5rem;
  padding: 0.75rem;
  font-size: 2rem;
  line-height: 3rem;
  border: 1px solid var(--line);
  cursor: pointer;
}

.form__input:focus {
  outline: 0;
}

.form__input:placeholder-shown {
  opacity: 0.5;
}

.form__input--err {
  border: 1px solid var(--red);
}
.form__err--text {
  color:var(--red);
  font-weight: 400;
  font-style: italic;
}

.age__info {
  padding-top: 3rem;
  font-size: 6.5rem;
  line-height: 110%;
  font-weight: 800;
  width: 45.5rem;
}
.age__console {
  display: flex;
  align-items: center;
}
.age__descripton {
  color: var(--purple);
}

.age__text {

}

/* RETINA BACKGROUND IMAGES */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}